/*=========================================================
Einstieg in HTML und CSS
Stylesheet für die Übungswebsite

layout.css
wird in style.css per @import eingebunden 

=========================================================*/
/**
* 1. Klassisches Seitenlayout (begrenzte Breite, zentriert)
*/
/* Hintergrundfarbe für das Stammelement */ 
html { background-color: whitesmoke; }
/* Grundlegende Gestaltung für body */
body {
    /* Hintergrundfarbe und Begrenzung der Breite */ 
    background-color: white; 
    min-width: 320px; 
    max-width: 600px; 

    /* Horizontal zentrieren */ 
    margin: 0.25rem auto;   

}

/**
* 2. Kopfbereicht (inklusive Inhalte)
*/
.site-header { padding: 1rem 1rem 0 1rem; margin-bottom: 1rem; }
/* Fine-Tuning: Die Abstände um Logo und Slogan anpassen */ 
.site-header h1 { margin-bottom: 0; }
.site-header p {margin-top: 0; }

/**
* 3. Inhaltsbereich
*/
.site-content { line-height: 1.5; padding: 0 1rem; margin-bottom: 2rem; } 

/**
* 4. Fußbereiche (inklusive Inhalte)
*/
.site-footer { font-size: smaller; background-color: #333;color: white; text-align: right; padding: 0.5rem 1rem;}
.footer-nav ul { margin: 0; }
.footer-nav li { display: inline; margin-right: 0.5rem; }  
.site-footer a { color: white; text-decoration: none; }